html, body {
  height: 100%;
}
form.form-inline {
  justify-content: space-between;
}

.container:first-child {
  padding: 7px 15px;
  background: #0a98be;
  color: #fff;
}

.btn-secondary {
  color: #eaeaea;
  background-color: #9a8cb7;
  border-color: #786a96;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #7046c3;
  border-color: #5f3ea0;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #6e42cb;
  border-color: #5d3ba6;
}

input.sub {
    border-radius: 3px;
    border: none;
    background: #000;
    color: #fff;
    padding: 5px 15px;
}

input[type="number"], select {
  margin-left: 5px;
}

#answer-options input[type="radio"] {
  margin-right: 5px;
}
#answer-options label {
  /* background: #333; */
  margin: 0 5px;

}

label.btn-secondary {
    color: #fff;
    background-color: #0b97be;
    border-color: #0b97be;
}

input[type="radio"]:checked+label.btn-secondary {
  background: #000;
}

#answer-options .col {
  display: flex;
  justify-content: center;
}

#answer-options {
  margin: 40px 20px;
}

#question-text {
  text-align: center;
}

.question-card {
  display: none;
  background: #f1f1f1;
  padding: 30px 10px;
  margin-top: 15vh;
  border-radius: 4px;
}

h3#current-score {
    float: right;
}

#submit-btn {
  display: none;
}

#next-btn {
  display: block;
}

#next-btn, #submit-btn {
  margin: 20px auto 0px;
  background: #6e42cb;
  color: #fff;
  padding: 5px 50px;
  border: none;
  border-radius: 3px;
}

#pop-up {
  display: flex;
  width: 500px;
  height: 300px;
  align-items: center;
  justify-content: center;
  background: rgba(8, 255, 8, .7);
  border-radius: 8px;
  z-index: 100;
}

#pop-up-container {
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
}
